.zoomIn {
  animation-iteration-count: 1;
}
.camera2 {
  position: absolute;
  top: 108px;
  left: 105px;
  width: 228px;
  height: 440px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera3 {
  position: absolute;
  top: 108px;
  left: 337px;
  width: 218px;
  height: 440px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera4 {
  position: absolute;
  top: 108px;
  left: 563px;
  width: 228px;
  height: 440px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera5 {
  position: absolute;
  top: 108px;
  left: 793px;
  width: 218px;
  height: 440px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera6 {
  position: absolute;
  top: 108px;
  left: 1014px;
  width: 218px;
  height: 440px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera15 {
  position: absolute;
  top: 155 px;
  left: 500px;
  width: 368px;
  height: 170px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera4:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera2:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera15:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera3:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera5:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera6:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera9 {
  position: absolute;
  top: 280px;
  left: 689px;
  width: 573px;
  height: 240px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera9:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera1 {
  position: absolute;
  top: 105px;
  left: 375px;
  width: 578px;
  height: 489px;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera1:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera10 {
  position: absolute;
  top: 110px;
  left: 675px;
  width: 182px;
  height: 183px;
  text-align: center !important;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera10:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}
.camera7 {
  position: absolute;
  top: 159px;
  left: 675px;
  width: 182px;
  height: 183px;
  text-align: center !important;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera8 {
  position: absolute;
  top: 112px;
  left: 723px;
  width: 482px;
  height: 324px;
  text-align: center !important;
  background: transparent;
  color: transparent;
  border-color: transparent;
}
.camera8:hover {
  color: black !important;
  font-size: 42px !important;
  border-color: yellow !important;
  background-color: #ffffb5 !important;
  opacity: 0.5;
}